.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.items-center{
    align-items: center;
}

.bg_grey{
    background-color:#ffffff;
    color: #505050;
    border-radius: 8px;
}



.b-1{
    border: none;
    background-color: transparent;
}

.sb-1{
    justify-content: space-between;
}

/* .border{
    border: 1px solid rgb(99, 98, 98);
} */

/* For Webkit browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
    width: 300px; /* Adjust the width of the scrollbar */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #333; /* Color of the thumb */
    border-radius: 5px; /* Rounded corners */
  }
  
  ::-webkit-scrollbar-track {
    background-color: #555; /* Color of the track */
  }
  
  /* For Firefox */
  * {
    scrollbar-width: thick;
    scrollbar-color: #333 #555;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #333;
  }
  
  *::-webkit-scrollbar-track {
    background-color: #555;
  }
    
